{{define "content"}}
    <h1>Contact</h1>
        <div>If you'd like to get in touch for any reason such as a job oppertunity or freelance work place don't hesitate to email me
        <a href="mailto:jordanhellier@googlemail.com">jordanhellier@googlemail.com</a></div>
{{end}}