<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{template "nav.gohtml"}}
    {{range $v := .Projects}}
            <a href="projects/{{$v.FolderPathLowerCase}}.html">{{$v.FolderPath}}</a>
    {{end}}
</body>
</html>